/* Dashboard.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 200px;
    max-width: 70vw;
    margin-left: 30px;
  }
  
  .dashboard-header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
  }
  
  .dashboard-header h1 {
    margin: 0;
  }
  
  .dashboard-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    flex: 1;
  }
  
  .activity-section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .activity-section h2 {
    border-bottom: 2px solid #8bc34a;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .card-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px);
    min-width: 250px;
    box-sizing: border-box;
  }
  
  .card h3 {
    border-bottom: 2px solid #8bc34a;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .card p {
    margin: 20px 0;
  }
  
  .btn {
    background-color: #8bc34a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn:hover {
    background-color: #7cb342;
  }
  
  @media (max-width: 768px) {
    .card {
      flex: 1 1 100%;
    }
  }
  